/* In this file you can overwrite/extend the given babe-styles or declare your own ones */

/* Example of extending a given babe-style */

/*.babe-view-stimulus-container {
    height: auto;
    max-height: 350px;
} */

/* Display all titles in red */
/*.babe-view-title {
    color: red;
}*/

/* Example of declaring your own style */
.custom-border {
   border: 1px solid powderblue;
}

/* In this file you can overwrite/extend the given babe-styles or declare your own ones */

/* Example of extending a given babe-style */

/*.babe-view-stimulus-container {
    height: auto;
    max-height: 350px;
} */

/* Display all titles in red */
/*.babe-view-title {
    color: red;
}*/

/* Example of declaring your own style */
.custom-border {
   border: 1px solid powderblue;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3){

/* Center Views Containers */
.babe-view{
    margin-top:10%;
    margin-bottom:20%;
}
/* Increase Answer Button Size */
.babe-response-buttons:hover {
    background-color: #324D93;
}
.babe-response-buttons {
    background-color: #5187BA;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Lato", "Noto Sans", sans-serif;
    font-size:-webkit-xxx-large;
    line-height: 20px;
    font-weight: bolder;
    letter-spacing: 0.9px;
    margin: 5%;
    margin-top:25%;
    outline: none;
    padding: 6%;
    text-transform: uppercase;
}

}

@media only screen and (-webkit-max-device-pixel-ratio: 1.3){

/* Increase Answer Button Size */
.babe-response-buttons:hover {
    background-color: #324D93;
}
.babe-response-buttons {
    display:none;
}

}